.b-creator{
    display: table;
    color: #fff;
    transition: all .2s;
}
.b-creator:hover{
    color: #ffb300;
}

.b-creator__icon{
    display: table-cell;
    font-size: 25px;
    vertical-align: middle;
}

.b-creator__text{
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}