Options +FollowSymLinks
IndexIgnore */*

# включаем mod_rewrite
RewriteEngine on
# запретит доступ к файлу .htaccess в случае дурно настроенного хостинга.
RewriteRule .htaccess - [F]

# Don't favicon!
# RewriteCond %{REQUEST_FILENAME} !^favicon\.ico

# условие, что все существующие папки не будут обрабатываться регулярным выражением
RewriteCond %{REQUEST_FILENAME} !-f

# условие, что все существующие файлы не будут обрабатываться регулярным выражением
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php