::selection {
    background-color: #FB3C65;
    color: #fff; /* Safari */
}
::-moz-selection {
    background-color: #FB3C65;
    color: #fff; /* Firefox */
}

a:hover, a:focus {
    color: #FB3C65;
    text-decoration: inherit;
}

/* OwlCarousel */
.owl-nav .owl-prev,
.owl-nav .owl-next{
    width: 25px;
}

.owl-nav .owl-prev span,
.owl-nav .owl-next span{
    font-size: 25px;
    font-weight: bold;
    color: #FB3C65;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #FB3C65;
}

.owl-theme .owl-nav [class*='owl-']:hover span{
    color: #fff;
}
/***/

/* Gallery */
.gallery_images{
    display: none;
}
.gallery_image{
    margin: 0px !important;
    padding: 0px !important;
}
.gallery_image .picture{
    float: left;
    border-right: 1px solid rgb(52, 59, 71);
}
.gallery_image .description{
    float: left;
    padding: 20px 20px 10px 20px;
    width: 400px;
}
/***/

.price{
    background: #FB3C65;
    padding: 15px 15px;
    text-align: center;
    color: #fff;
    font-family: "OpenSansCondensedBold";
    vertical-align: middle;
}


/* Footer custom */
.footer .footer-border{
    border-bottom: 1px solid #FB3C65;
}
.footer .footer-up{
    background: #343B47;
    padding: 15px 15px 0px 15px;
}
.footer .footer-down{
    background-color: #000000;
    padding: 15px;
}
/***/
.contact-img{
    background: url(/images/contact.png) no-repeat center 0px;
    height: 530px;
}
.big-text{
    font-family: "OpenSansCondensedBold";
    font-size: 80px;
    color: #FB3C65;
}



#top_1{
    min-height: 960px;
}
.top_1{
    background-attachment: fixed;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url("/images/12345.jpg");
}

#about_1{
}
.about_1{
    background-color: #e3ffec;
}

#about_2{

}
.about_2{
    background-color: #fff;
}

#about_3{
}
.about_3{
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#product_1{
}
.product_1{
    background-color: #ffffff;
}

#payment_1{

}
.payment_1{
    background-color: #ffffff;
}

#order_1{

}
.order_1{
    background-image: url(/images/bg.jpg);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

#review_1{}
.review_1{}

#contact_1{
}
.contact_1{
    background-color: #ffffff;
}

#address_1{
}
.address_1{
    background-color: #fff;
    padding: 128px 0 0px 0px;
}
/*MEDIA*/

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}